*{
    padding: 0;
    margin: 0;
    outline: solid white 3vh;
}

body{
    padding: 0 3vh;
    outline: solid white 3vh;
}

div{
    background-color: #B3B5B4;
}

.left-up, .left-down{
    background-color: white;
}

.all-container{
    display: flex;
    height: 100vh;
}

.left-all{
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
}

.left-up{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
}

.A1{
    flex: 1;
    height: 30vh;
}

.A2{
    flex: 1;
    height: 20vh;
    outline: 0;
}

.B1{
    flex: 1;
    outline: white solid 1.5vh;
    height: 25vh;
    width: 25.5vh;
}

.container-A1_A2{
    flex: 1;
    padding-top: 3vh;
}

.container-B1{
    flex: 2;
    padding-top: 3vh;
}

.left-down{
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
}

.C1{
    flex: 1;
    height: 47vh;
    width: 5vh;
}

.C2{
    flex: 1;
    height: 25vh;
    width: 65vh;
}

.container-C1{
    flex: 6;
    display: flex;
    height: 47vh;
    flex-direction: column;
    margin-bottom: 3vh;
}
