*{
   
}

body{
    display: flex;
    justify-content: center;
    margin-top: -20vh;
    align-self: center;
    margin: 5px;
    flex-direction: column;
}

.user{
    display: flex;
    flex-direction: column;
    width: 70vh;
    height: 70vh;
    border-color: rgba(0, 0, 0, 0.336);
    margin-left: 10vh;
    margin-right: 10vh;
}

.azul{
    background-color: rgb(38, 170, 231);
    padding: 8vh;
    z-index: 0;
    border-radius: 11px 11px 0px 0px;
    padding-right: 99vh;
    margin-left: -15vh;
    display: flex;
}

.info{
    flex-direction: column;
    z-index: 0;
    margin: 5px;
    padding: 0;
    margin-left: 30px;
    margin-top: -10px;
    display: flex;
}

img{
    margin: 5px;
    margin-left: 1px;
    display: flex;
}

.titulo{
    display: flex;
    padding: 0;
}

.map{
    height: 3vh;
    margin-top: 3vh;
    display: flex;
}

.circle-user{
    height: 15vh;
    width: 15vh;
    z-index: 1;
    margin-top: -8vh;
    margin-left:32vh;
    border-radius: 50%;
    display: flex;
}

.Nombre-perfil{
    margin-left: 30vh;
}

.info-user{
    font-size: 3vh;
    margin: 0;
    margin-top: -2vh;
    margin-left: 17vh;
    display: flex;
}

.info-user-2{
    font-size: 3vh;
    margin: 0;
    margin-top: 7px;
    margin-left: 4vh;
}

.locacion{
    font-size: 3vh;
    margin-left: 22vh;
    color: #777777;
    display: flex;
    margin-top: -1vh;
}

h2{
    margin: 0;
    margin-left: 25vh;  
    margin-top: 1vh;
    padding: 0;
    font-size: 4vh;
    display: flex;
}

#baseline{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1vh;
    margin-left: 22vh;
}
.gear{
    display: flex;
    width: 4vh;
    margin-left: 4vh;
}

#container{
    margin-top: -70vh;
    margin-bottom: -75vh;
    padding-right: 12vh;
    padding-left: 5vh;
    border: 5vh;
    height: 50vh;
    align-self: center;
    margin-right: 100vh;
    margin-left: 40vh;
    box-shadow: rgba(0, 0, 0, 0.459) 3px 3px 3px 3px;
    display: flex;
}

h3{
    font-size: 3vh;
    display: flex;
}

a{ 
    font-size: 3vh;
    display: flex;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding-right: 30vh;
    height: 120vh;
    width: 178vh;
    background-color: #edf0f2;
}

.nav{
    display: flex;
    flex-direction: row;
    width: 200vh;
    height: 10vh;
    background-color: #333333;
    justify-content: center;
    align-items: start;
    margin-top: -1vh;
    padding-bottom: 8px;
    margin-left: 29vh;
    padding-right: 13vh;
}

.nav-links{
    flex-direction: row;
    display: flex;
    margin: 10px;
    justify-content: end;
    width: 185vh;  
    align-items: center;
    margin-right: -16vh;
}

.nav-links:hover{
    flex-direction: row;
    display: flex;
    margin: 10px;
    justify-content: end;
    width: 185vh;  
    align-items: center;
    margin-right: -19vh;
    cursor: pointer;
}

li{
    cursor: pointer;
    list-style: none;
    margin: 10px;
    padding: 2px;
    display: flex;
    margin-right: 5vh;
}

a{
    color: white;
    text-decoration: none;
    font-size: 2.5vh;
    display: flex;
}

button{
    background-color:#3f9adc;
    padding: 5px;
    color: white;
    font-size: 2vh;
    height: 6vh;
    box-shadow: rgba(0, 0, 0, 0.404) 3px 3px 3px 3px;
    border: solid rgba(0, 0, 0, 0.438) 2px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
}

h1{
    color: white;
    margin-left: 15px;
    display: flex;
}

.btn{
    padding-right: 1vh;
    margin-right: 1vh;
    border-radius: 2vh;
    display: flex;
}

.container-,#container{
    flex-wrap: wrap;
    display: flex;
    border-radius: 3%;
}

.conexiones-r{
    margin-top: 75vh;
    box-shadow: rgba(0, 0, 0, 0.459) 4px 4px 4px 4px;
    display: flex;
    flex-direction: column;
    margin-left: -76vh;
    width: 64vh;
    height: 30vh;
    border-radius: 2vh 2vh 2vh 2vh;
    background-color: #ffffff;
}

#all-container{
    display: flex;
    flex-direction: row;
    margin-top: -70vh;
    height: 200vh;
    padding-left: -40vh;
}

.perfiles{
    display: flex;
    font-size: 2vh;
    margin-bottom: 1vh;
}

.perfiles-y{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2vh;
    margin-bottom: 1vh;
}

.nombre{
    vertical-align: middle;
    margin-left: 1vh;
    margin-top: 2.7vh;
    font-size: 2.5vh;
    display: flex;
}

.foto-perfil{
    height: 7vh;
    border-radius: 50%;
    margin-right: 3vh;
    margin-left: 8vh;
    display: flex;
}

.botones{
    height: 3vh;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
}

.requests{ 
    background-color: #ffffff;
    flex-direction: row;
    display: flex;
    color: black;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.notificaciones{
    background-color: #ffff;
    padding: 7px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2.5vh;
    display: flex;
    font-weight: bold;
}

.text-connections{
    font-size: 2.5vh;
    background-color: #ffff;
    padding: 7px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: #3f9adc;
    border: solid #3f9adc 2px;
    display: flex;
}

.text-connections:hover{
    font-size: 2.5vh;
    background-color: #ffff;
    padding: 7px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: #3f9adc;
    border: solid #3f9adc 2px;
    cursor: pointer;
    display: flex;
}


.container-{
    flex-direction: column;
    display: flex;
    margin-top: 3vh;
}

.y-conexiones{
    margin-top: 5vh;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.459) 4px 4px 4px 4px;
    display: flex;
    width: 64vh;
    height: 52vh;
    margin-left: -76vh;
    border-radius:  3vh 3vh 3vh 3vh;
    background-color: #ffffff;
}

.link-profile{
    color: #3f9adc;
    display: flex;
}

#container-1{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    margin-top: -45vh;
}

.titulo-1{
    background-color: #333333;
    font-size: 4vh;
    outline: solid rgba(0, 0, 0, 0.445);
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    color: white;
    display: flex;
}

.curso-titulo{
    padding-left: 30px;
    margin-top: -2vh;
    font-size: 3vh;
    display: flex;
}

.more-info{
    padding-left: 30px;
    margin-top: -0;
    font-size: 3vh;
    display: flex;
}

.check{
    display: flex;
    width: 4vh;
    margin-left: 12vh;
    height: 4vh;
    margin-top: 2vh;
}

.check:hover{
    display: flex;
    width: 4vh;
    margin-left: 12vh;
    height: 4vh;
    margin-top: 2vh;
    cursor: pointer;
}


.cross{
    display: flex;
    width: 4.7vh;
    margin-left: 1vh;
    height: 4.7vh;
    margin-top: 1.65vh;
}

.cross:hover{
    display: flex;
    width: 4.7vh;
    margin-left: 1vh;
    height: 4.7vh;
    margin-top: 1.65vh;
    cursor: pointer;
}